variable declaration (definition is not required)

In [6]:
a = 10.34

In [7]:
a

10.34

type() tells the type of data stored in the variable

In [8]:
type(a)

float

In [9]:
ab = "pari"

In [10]:
type(ab)

str

complex number in the form of a+bj

In [11]:
x = 1 + 4j

In [13]:
type(x)

complex

In [15]:
x.real

1.0

In [16]:
x.imag

4.0

print() prints the data

In [17]:
print(x)

(1+4j)

In [18]:
print(a)

10.34

id() Return the identity of an object.

In [19]:
id(a)

95984352

string slicing opeartions

In [33]:
a = "parikshith"

In [34]:
a[0]

'p'

to access only pari

In [35]:
a[0:4]

'pari'

to access only prkh

In [36]:
a[0:7:2]

'prkh'

to reverse the string use negative indexing

In [37]:
a[4:0:-1]

'kira'

In [38]:
a[::-1]

'htihskirap'

list- homogenous or heterogenous data within []

range()  Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step

In [53]:
xyz = [1,2,4,5,6,7,8,9]

In [54]:
m = []

In [55]:
for i in xyz:
    m.append(i+2)

In [56]:
m

[3, 4, 6, 7, 8, 9, 10, 11]

''' list functions 
        append()	Adds an element at the end of the list
        clear()	Removes all the elements from the list
        copy()	Returns a copy of the list
        count()	Returns the number of elements with the specified value
        extend()	Add the elements of a list (or any iterable), to the end of the current list
        index()	Returns the index of the first element with the specified value
        insert()	Adds an element at the specified position
        pop()	Removes the element at the specified position
        remove()	Removes the first item with the specified value
        reverse()	Reverses the order of the list
        sort()	Sorts the list'''

In [59]:
for i in xyz:
    print(i)

1
2
4
5
6
7
8
9

string functions
capitalize()	Converts the first character to upper case                                          
casefold()	Converts string into lower case                                
center()	Returns a centered string                                      
count()	Returns the number of times a specified value occurs in a string                             
encode()	Returns an encoded version of the string                                    
endswith()	Returns true if the string ends with the specified value                            
expandtabs()	Sets the tab size of the string                             
find()	Searches the string for a specified value and returns the position of where it was found                               
format()	Formats specified values in a string                            
format_map()	Formats specified values in a string                              
index()	Searches the string for a specified value and returns the position of where it was found                                 
isalnum()	Returns True if all characters in the string are alphanumeric              
isalpha()	Returns True if all characters in the string are in the alphabet                   
isdecimal()	Returns True if all characters in the string are decimals                            
isdigit()	Returns True if all characters in the string are digits                          
isidentifier()	Returns True if the string is an identifier                           
islower()	Returns True if all characters in the string are lower case                                 
isnumeric()	Returns True if all characters in the string are numeric                             
isprintable()	Returns True if all characters in the string are printable                    
isspace()	Returns True if all characters in the string are whitespaces                                 
istitle()	Returns True if the string follows the rules of a title                               
isupper()	Returns True if all characters in the string are upper case                             
join()	Joins the elements of an iterable to the end of the string                               
ljust()	Returns a left justified version of the string                         
lower()	Converts a string into lower case                                 
lstrip()	Returns a left trim version of the string                          
maketrans()	Returns a translation table to be used in translations                          
partition()	Returns a tuple where the string is parted into three parts                                 
replace()	Returns a string where a specified value is replaced with a specified value                        
rfind()	Searches the string for a specified value and returns the last position of where it was found                  
rindex()	Searches the string for a specified value and returns the last position of where it was found          
rjust()	Returns a right justified version of the string                    
rpartition()	Returns a tuple where the string is parted into three parts                        
rsplit()	Splits the string at the specified separator, and returns a list                     
rstrip()	Returns a right trim version of the string                               
split()	Splits the string at the specified separator, and returns a list                     
splitlines()	Splits the string at line breaks and returns a list                               
startswith()	Returns true if the string starts with the specified value                           
strip()	Returns a trimmed version of the string                                               
swapcase()	Swaps cases, lower case becomes upper case and vice versa                            
title()	Converts the first character of each word to upper case                                     
translate()	Returns a translated string                                  
upper()	Converts a string into upper case                                 
zfill()	Fills the string with a specified number of 0 values at the beginning

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

In [40]:
"My name is {fname}, I'am {age}".format(fname = "John", age = 36)

"My name is John, I'am 36"

In [41]:
x = ["parikshith",'rao',"pawan","kumar","anitha"]

In [42]:
len(x[0])

10

In [43]:
for i in x :
    print(len(i))

10
3
5
5
6

In [44]:
x.sort()

In [45]:
x

['anitha', 'kumar', 'parikshith', 'pawan', 'rao']

In [46]:
def find_longest_word(words_list):
    word_len = []
    for n in words_list:
        word_len.append((len(n), n))
    word_len.sort()
    return word_len[-1][1]

print(find_longest_word(["PHP", "Exercises", "Backend"]))

Exercises

Implement a function longestWord() that takes a list of words and returns the longest on

In [48]:
def longestword(words_list):
    x = []
    for i in words_list:
        x.append((len(i),i))
        
    x.sort()
    
    return x[-1][1]
print(x)
print(longestword(["parikshith","harish","pawan"]))

['anitha', 'kumar', 'parikshith', 'pawan', 'rao']
parikshith

The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable

In [49]:
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [50]:
t = (1,2,3,4)
for i in t:
    print(i)

1
2
3
4

t.count() Return number of occurrences of value.

t.index() Return first index of value.

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

In [51]:
 s = {1,2,3,4}

In [53]:
type(s)

set

add()	Adds an element to the set                    
clear()	Removes all the elements from the set         
copy()	Returns a copy of the set                   
difference()	Returns a set containing the difference between two or more sets           
difference_update()	Removes the items in this set that are also included in another, specified set     
discard()	Remove the specified item            
intersection()	Returns a set, that is the intersection of two other sets                       
intersection_update()	Removes the items in this set that are not present in other, specified set(s)             
isdisjoint()	Returns whether two sets have a intersection or not       
issubset()	Returns whether another set contains this set or not              
issuperset()	Returns whether this set contains another set or not                       
pop()	Removes an element from the set                               
remove()	Removes the specified element                    
symmetric_difference()	Returns a set with the symmetric differences of two sets                 
symmetric_difference_update()	inserts the symmetric differences from this set and another                      
union()	Return a set containing the union of sets                      
update()	Update the set with the union of this set and others

In [54]:
s.pop()

1

In [55]:
k = [1,2,3,4]

In [56]:
k.pop()

4

# Dictionary

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

clear()	Removes all the elements from the dictionary                             
copy()	Returns a copy of the dictionary                                     
fromkeys()	Returns a dictionary with the specified keys and value                              
get()	Returns the value of the specified key                                          
items()	Returns a list containing a tuple for each key value pair                                  
keys()	Returns a list containing the dictionary's keys                               
pop()	Removes the element with the specified key                                        
popitem()	Removes the last inserted key-value pair                                                                        
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value    
update()	Updates the dictionary with the specified key-value pairs                       
values()	Returns a list of all the values in the dictionary

In [2]:
d = {"key":"parikshith", "key1":"rao" ,"key2":"151200"}

In [3]:
type(d)

dict

In [4]:
d.values()

dict_values(['parikshith', 'rao', '151200'])

In [5]:
for i in d:
    print(d[i])

parikshith
rao
151200

In [8]:
for i in d.keys() :
    print(d[i])

parikshith
rao
151200

In [10]:
dic = {"k1":(1,2,3,4),'k2':[1,3,4,5],"k3":{1,4,7,9}}

In [14]:
tup = []
for i in dic.values() :
    if type(i)==tuple :
        for j in i :
           tup.append(j)

In [15]:
tup

[1, 2, 3, 4]

In [37]:
D = {}
for i in range(10):
    D[i] = i**2

In [38]:
D

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [40]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [43]:
def add():
    a = 10
    b = 13
    print(a+b)

In [44]:
add()

23

In [45]:
b = add()

23

In [46]:
b + 12

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [47]:
def add1():
    a = 2
    b = 4
    return(a+b)

In [48]:
add1()

6

In [49]:
n = add1()

In [50]:
n + 12

18

In [52]:
def add2(a,b):
    return a - b

In [53]:
add2(4,3)

1

function to check whether the number is prime or not

In [22]:
def prime(x):
    for i in range(2,x):
        if x % i==0:
            print("the number is not prime")
            break
    else:
        print("the number is prime")

In [24]:
prime(2)

the number is prime

Iterable is an object, which one can iterate over. It generates an Iterator when passed to iter() method. Iterator is an object, which is used to iterate over an iterable object using __next__() method.

# Generators
In this section, you will be learning the differences between iterations and generation in Python and also how to construct our own generators with the "yield" statement. Generators allow us to generate as we go along instead of storing everything in the memory.

We have learned, how to create functions with "def" and the "return" statement. In Python, Generator function allow us to write a function that can send back a value and then later resume to pick up where it was left. It also allows us to generate a sequence of values over time. The main difference in syntax will be the use of a yield statement.

In most aspects, a generator function will appear very similar to a normal function. The main difference is when a generator function is called and compiled they become an object that supports an iteration protocol. That means when they are called they don't actually return a value and then exit, the generator functions will automatically suspend and resume their execution and state around the last point of value generation.

The main advantage here is "state suspension" which means, instead of computing an entire series of values upfront and the generator functions can be suspended. To understand this concept better let's go ahead and learn how to create some generator functions.

# yield
yield is a keyword in Python that is used to return from a function without destroying the states of its local variable and when the function is called, the execution starts from the last yield statement. Any function that contains a yield keyword is termed as generator.

In [36]:
def gencube(n):
    for i in range(n):
        yield i**3

In [37]:
gencube(3)

In [41]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [50]:
v = iter(gencube(10))

In [61]:
next(v)

StopIteration:

In [88]:
def fib(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [89]:
fib(10)

In [90]:
for i in fib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

# map()
The map() is a function that takes in two arguments:

1.A function                                                                               
2.A sequence iterable.                                                              
In the form: map(function, sequence)                         

The first argument is the name of a function and the second a sequence (e.g. a list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changed by the function.

In [91]:
import math

In [92]:
from math import sqrt

In [98]:
def squart(n):
    return(sqrt(n))

In [99]:
squart(9)

3.0

In [100]:
l = [1,4,9,25,36]

In [102]:
def squart(n):
    return(sqrt(n))

In [106]:
b = map(squart,l)

In [108]:
list(b)

[1.0, 2.0, 3.0, 5.0, 6.0]

# lambda function
A lambda function can take any number of arguments, but can only have one expression.

In [109]:
j = map(lambda x : sqrt(x),l)

In [110]:
j

In [111]:
list(j)

[1.0, 2.0, 3.0, 5.0, 6.0]